.social-media {
  background-color: var(--primary-color-2);
}

.social-media h3 {
  font-size: 2.2rem;
}

.social-media p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.social-media img {
  margin: 2rem 0;
}
