@media screen and (width >= 768px) {
  .main-card {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-card h1 {
    font-size: 6rem;
    margin-bottom: 2.5rem;
  }

  .main-card p {
    font-size: 1.8rem;
    margin: 1rem 0 1.5rem;
  }

  .main-card img {
    max-width: 40%;
  }
}
